<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <title>Shopee</title>
    </head>
    <body  >
        <header style="background-color: tomato;padding: 32px;">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {{if .User.Username}}
                <a class="btn btn-dark me-md-2 btn-sm" href="/addBalance">{{.UserBalances.Balance}}.000₫</a>
                <a class="btn btn-dark me-md-2 btn-sm position-relative" href="/addToCart">
                  <i class="bi bi-cart"></i>
                  {{if gt .UserCart.TotalItems 0}}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-secondary">
                      {{.UserCart.TotalItems}}
                    </span>
                  {{end}}
                </a>
                
                <a class="btn btn-dark me-md-2 btn-sm text-truncate" href="/historyBuy"><i class="bi bi-person-circle"></i> {{.User.Username}}</a>
                <a class="btn btn-dark me-md-2 btn-sm" href="/logout">Logout <i class="bi bi-box-arrow-in-right"></i></a>

                {{else}}
                <a class="btn btn-dark me-md-2 btn-sm" href="/login">Login <i class="bi bi-box-arrow-in-right"></i></a>
                <a class="btn btn-dark me-md-2 btn-sm" href="/signup">Signup <i class="bi bi-box-arrow-in-right"></i></a>

                {{end}}
            </div>
            <div class="container">
              <form method="post" autocomplete="off" >
              <div class="row g-3 align-items-center">
                  <div class="col-auto">
                      <a href="/">
                          <img src="/public/pics/wallhaven-28869x_1920x1080.png" class="img-fluid" width="50" height="50" alt="...">
                      </a>
                  </div>
                  <div class="col">
                      <input autofocus type="text" name="searchKey" class="form-control form-control-lg mx-auto">
                  </div>
                  <div class="col-auto">
                      <button class="btn btn-dark" type="submit" ><i class="bi bi-search"></i></button>
                  </div>
              </div>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" style="padding: 0 50px;">
              <a class="navbar-brand " href="/">Shopee</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/viewListing">Market</a>
                  </li>
                  {{if .User.Username}}
                  <li class="nav-item">
                    <a class="nav-link" href="/createListing">Sale</a>
                  </li>
                  {{end}}
                </ul>
              </div>
            </div>
          </nav>

          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/public/pics/Slide1.jpg" class="d-block w-100" style="height: 500px;" alt="hello">
              </div>
              <div class="carousel-item">
                <img src="/public/pics/slide2.jpg" class="d-block w-100" style="height: 500px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/public/pics/Slide3.jpg" class="d-block w-100" style="height: 500px;" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <!-- Category -->
          <div style="margin-top: 60px;">
            
            <div class="container-sm p-4 bg-body-secondary">
              <div class="h4 pb-2 mb-4 border-bottom border-light">
                Categories
              </div>             
              <div class="row bg-body-tertiary">
                  <div class="col-md-3 border border-3 rounded position-relative" style="text-align: center;">
                    <img src="/public/pics/ToysIcon.png" width="200px" height="200px" alt="">
                    <div>
                      <a href="http://localhost:8080/viewListing?searchKey=&minprice=&maxprice=&categoryKey=Toys" style="font-size: 20px;" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover stretched-link">Toys</a>
                    </div>
                  </div>
                  <div class="col-md-3 border border-3 rounded position-relative" style="text-align: center;">
                    <img src="/public/pics/Books.png" width="200px" height="200px" alt="">
                    <div>
                      <a href="http://localhost:8080/viewListing?searchKey=&minprice=&maxprice=&categoryKey=Books" style="font-size: 20px;" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover stretched-link">Books</a>
                    </div>
                  </div>
                  <div class="col-md-3 border border-3 rounded position-relative" style="text-align: center;">
                    <img src="/public/pics/S.png" width="200px" height="200px" alt="">
                    <div>
                      <a href="http://localhost:8080/viewListing?searchKey=&minprice=&maxprice=&categoryKey=Clothes" style="font-size: 20px;" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover stretched-link">Clothes</a>
                    </div>
                  </div>
                  <div class="col-md-3 border border-3 rounded position-relative" style="text-align: center;">
                    <img src="/public/pics/FoodsIcon.png" width="200px" height="200px" alt="">
                    <div>
                      <a href="http://localhost:8080/viewListing?searchKey=&minprice=&maxprice=&categoryKey=Foods" style="font-size: 20px;" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover stretched-link">Foods</a>
                    </div>
                  </div>
                  <div class="col-md-3 border border-3 rounded position-relative" style="text-align: center;">
                    <img src="/public/pics/Q.png" width="200px" height="200px" alt="">
                    <div>
                      <a href="http://localhost:8080/viewListing?searchKey=&btnradio=popular&minprice=&maxprice=&categoryKey=Smart%20Devices" style="font-size: 20px;" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover stretched-link">Smart Devices</a>
                    </div>
                  </div>
                  <div class="col-md-3 border border-3 rounded position-relative" style="text-align: center;">
                    <img src="/public/pics/W.png" width="200px" height="200px" alt="">
                    <div>
                      <a href="http://localhost:8080/viewListing?searchKey=&btnradio=popular&minprice=&maxprice=&categoryKey=Home%20Appliances" style="font-size: 20px;" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover stretched-link">Home Appliances</a>
                    </div>
                  </div>
                  <div class="col-md-3 border border-3 rounded position-relative" style="text-align: center;">
                    <img src="/public/pics/BeautyAppliancesIcon.png" width="200px" height="200px" alt="">
                    <div>
                      <a href="http://localhost:8080/viewListing?searchKey=&btnradio=popular&minprice=&maxprice=&categoryKey=Beauty%20Appliances" style="font-size: 20px;" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover stretched-link">Beauty Appliances</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          

          <!-- Recommended -->
            <div style="margin-top: 60px;">
              <div class="container-sm p-4 bg-body-secondary">
                <span class="h4 pb-2 mb-4 border-bottom border-light" style="display: flex; justify-content: space-between;">
                  <span>Recommended For You</span>
                  <span><a href="/viewListing" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">See All ></a></span>
                </span>
                <div class="container-sm p-4 bg-body-tertiary">
                  <div class="row row-cols-5">
                  {{range .Records}}
                    <div class="col mb-4">
                        <div class="card" style="width: 14rem;">
                            <img src="/public/pics/{{.Screenshot}}" class="card-img-top" width="50" height="150" alt="...">
                          <div class="card-body">                                  
                            <h5 class="card-title text-truncate">{{.Name}}</h5>
                            <h5 class="card-text" style="color: rgb(224, 106, 85);">{{.Price}}.000₫</h5>
                            <a href="/detailListing?screenshotId={{.Screenshot}}" class="btn btn-secondary">View</a>
                            
                            
                          </div>
                      </div>
                    </div>
                  {{end}}
                  </div>
              </div>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    </body>