<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <title>Shoopee</title>

    </head>
    <body>
        <header style="background-color: tomato;padding: 32px;">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {{if .User.Username}}
                <a class="btn btn-dark me-md-2 btn-sm" href="/addBalance">{{.UserBalances.Balance}}.000₫</a>
                <a class="btn btn-dark me-md-2 btn-sm position-relative" href="/addToCart">
                    <i class="bi bi-cart"></i>
                    {{if gt .UserCart.TotalItems 0}}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-secondary">
                        {{.UserCart.TotalItems}}
                      </span>
                    {{end}}
                  </a>
                <a class="btn btn-dark me-md-2 btn-sm" href="/historyBuy"><i class="bi bi-person-circle"></i> {{.User.Username}}</a>
                <a class="btn btn-dark me-md-2 btn-sm" href="/logout">Logout <i class="bi bi-box-arrow-in-right"></i></a>

                {{else}}
                
                <a class="btn btn-dark me-md-2 btn-sm" href="/login">Login <i class="bi bi-box-arrow-in-right"></i></a>
                <a class="btn btn-dark me-md-2 btn-sm" href="/signup">Signup <i class="bi bi-box-arrow-in-right"></i></a>

                {{end}}
            </div>
            <div class="container">
                <form method="get" autocomplete="off" >
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <a href="/">
                            <img src="/public/pics/wallhaven-28869x_1920x1080.png" class="img-fluid" width="50" height="50" alt="...">
                        </a>
                    </div>
                    <div class="col">
                        <input autofocus type="text" name="searchKey" class="form-control form-control-lg mx-auto">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-dark" type="submit" ><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </header>
        <!-- <div> -->

                        <!-- <form method="get" autocomplete="off"> -->
                            <!-- <div class="col-auto">
                                <input type="radio" class="btn-check" name="categoryKey" id="category4" autocomplete="off" value="Toys">
                                <label class="btn btn-dark" style="margin-right: 40px;" for="category4"><i class="bi bi-dribbble"></i>-Toys</label>

                                <input type="radio" class="btn-check" name="categoryKey" id="category2" autocomplete="off" value="Books">
                                <label class="btn btn-dark" style="margin-right: 40px;" for="category2"><i class="bi bi-book"></i>-Books</label>

                                <input type="radio" class="btn-check"  name="categoryKey" id="category1" autocomplete="off" value="Clothes">
                                <label class="btn btn-dark" style="margin-right: 40px;" for="category1"><i class="bi bi-incognito"></i>-Clothes</label>

                                <input type="radio" class="btn-check" name="categoryKey" id="category7" autocomplete="off" value="Foods">
                                <label class="btn btn-dark" style="margin-right: 40px;" for="category7"><i class="bi bi-cake"></i>-Foods</label>

                                <input type="radio" class="btn-check" name="categoryKey" id="category6" autocomplete="off" value="SmartDevices">
                                <label class="btn btn-dark" style="margin-right: 40px;" for="category6"><i class="bi bi-phone"></i>-Smart Devices</label>

                                <input type="radio" class="btn-check" name="categoryKey" id="category5" autocomplete="off" value="HomeAppliances">
                                <label class="btn btn-dark" style="margin-right: 40px;" for="category5"><i class="bi bi-lamp"></i>-Home Appliances</label>

                                <input type="radio" class="btn-check" name="categoryKey" id="category3" autocomplete="off" value="BeautyAppliances">
                                <label class="btn btn-dark" style="margin-right: 100px;" for="category3"><i class="bi bi-bag-heart"></i>-Beauty Appliances</label>

                                <input class="btn btn-dark" type="reset" value="Reset">
                            </div> -->
                        <!-- </form> -->
                            <!-- <div class="col-auto">
                                <a class="btn btn-dark" href=""><i class="bi bi-bag-heart"></i>-Beauty Appliances</a>
                            </div> -->
                            <!-- <div class="col-auto">
                                <a class="btn btn-dark" href=""><i class="bi bi-book"></i>-Books</a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-dark" href=""><i class="bi bi-dribbble"></i>-Toys</a>
                            </div>  
                            <div class="col-auto">
                                <a class="btn btn-dark" href=""><i class="bi bi-lamp"></i>-Home Appliances</a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-dark" href=""><i class="bi bi-phone"></i>-Smart Devices</a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-dark" href=""><i class="bi bi-cake"></i>-Foods</a>
                            </div> -->
                            <!-- <div class="col-auto"> -->
                                <!-- <button class="btn btn-dark" type="submit" ><i class="bi bi-search"></i></button> -->
                            <!-- </div>
                        </form> -->


                    <!-- {{if .User.Username}}
                    <div class="col-auto">
                        <a class="btn btn-info" href="/listing">Create Listing</a>
                    </div>
                    {{end}} -->
        <!-- </div>  -->
        <body>
            <div>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid" style="padding: 0 50px;">
                        <a class="navbar-brand" href="/">Shopee</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                          <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="/viewListing">Market</a>
                          </li>
                          {{if .User.Username}}
                          <li class="nav-item">
                            <a class="nav-link" href="/createListing">Sale</a>
                          </li>
                          {{end}}
                        </ul>
                      </div>
                    </div>
                  </nav>
            </div>
            <div class="mt-4">
                <div class="container-sm p-0 bg-body-tertiary">
                    <div class="d-flex flex-row mb-0 justify-content-between">
                        <div class="p-0">                                
                        </div>
                        <div class="p-1">
                            <div class="btn-toolbar p-0" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="dropdown-center">
                                  <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    Price Range
                                  </button>
                                  <div class="dropdown-menu p-1">
                                    <div class="mb-2">
                                        <div class="input-group">
                                            <!-- <span class="input-group-text">₫</span> -->
                                            <input type="text" class="form-control" name="minprice" placeholder="Min">
                                            <span class="input-group-text">.000₫</span>

                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="input-group">
                                            <!-- <span class="input-group-text">₫</span> -->
                                            <input type="text" class="form-control" name="maxprice" placeholder="Max">
                                            <span class="input-group-text">.000₫</span>

                                        </div>
                                    </div>
                                    <div class="d-inline">
                                        <input class="btn btn-sm btn-outline-light" type="reset" value="Reset">
                                        <button type="submit" class="btn btn-sm btn-outline-light">Confirm</button>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                    <select class="form-select" aria-label="Default select example" name="categoryKey">
                                        <option selected value="">Category</option>
                                        <option value="Toys">Toys</option>
                                        <option value="Books">Books</option>
                                        <option value="Clothes">Clothes</option>
                                        <option value="Foods">Foods</option>
                                        <option value="Smart Devices">Smart Devices</option>
                                        <option value="Home Appliances">Home Appliances</option>
                                        <option value="Beauty Appliances">Beauty Appliances</option>
                                    </select>
                                    </form>
                                </div>
                            </div>                                
                        </div>
                </div>

                <div class="container-sm p-4 bg-body-secondary">
                    <div class="row row-cols-5">
                    {{range .Records}}
                      <div class="col mb-4">
                          <div class="card" style="width: 14rem;">
                              <img src="/public/pics/{{.Screenshot}}" class="card-img-top" width="50" height="150" alt="...">
                            <div class="card-body">                                  
                              <h5 class="card-title text-truncate">{{.Name}}</h5>
                              <h5 class="card-text" style="color: rgb(224, 106, 85);">{{.Price}}.000₫</h5>
                              <a href="/detailListing?screenshotId={{.Screenshot}}" class="btn btn-secondary">View</a>
                            </div>
                        </div>
                      </div>
                    {{end}}
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-10 text-center my-3">
                            <a href="/viewListing?page=1&searchKey={{.SearchKey}}&minprice={{.MinPrice}}&maxprice={{.MaxPrice}}&categoryKey={{.CategoryKey}}" class="btn btn-dark {{if eq .Page 1}}disabled{{end}}">
                                <i class="bi bi-caret-left"></i>
                            </a>
                            
                            <a href="/viewListing?page={{sub .Page 1}}&searchKey={{.SearchKey}}&minprice={{.MinPrice}}&maxprice={{.MaxPrice}}&categoryKey={{.CategoryKey}}" class="btn btn-secondary {{if eq .Page 1}}disabled{{end}}">
                                <i class="bi bi-caret-left-fill"></i>
                            </a>
                            
                            <a href="/viewListing?page={{add .Page 1}}&searchKey={{.SearchKey}}&minprice={{.MinPrice}}&maxprice={{.MaxPrice}}&categoryKey={{.CategoryKey}}" class="btn btn-secondary {{if eq .Page .TotalPage}}disabled{{end}}">
                                <i class="bi bi-caret-right-fill"></i>
                            </a>
                            
                            <a href="/viewListing?page={{.TotalPage}}&searchKey={{.SearchKey}}&minprice={{.MinPrice}}&maxprice={{.MaxPrice}}&categoryKey={{.CategoryKey}}" class="btn btn-dark {{if eq .Page .TotalPage}}disabled{{end}}">
                                <i class="bi bi-caret-right"></i>
                            </a>
                            
                        
                            <span class="mx-3">Page {{.Page}} / {{.TotalPage}}</span>
                        </div>
                        
                        
                    </div>
                </div>
                </div> 
            </div> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        </body>












